<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes, maximum-scale=5.0, minimum-scale=1.0">

    <!-- Social Share-->
    <meta property="og:title" content="SQL Exercise Scoring - Hệ thống chấm bài SQL" />
    <meta property="og:description" content="Hệ thống chấm bài tập SQL tự động." />
    <meta property="og:image" content="/Admin/image/sql-logo.png">
    <meta property="og:url" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:locale" content="vi_VN" />
    <meta property="og:site_name" content="SQL Exercise Scoring" />

    <title>@ViewData["Title"] | SQL Exercise Scoring</title>

    <link rel="icon" href="~/Admin/image/sql-logo.png" type="image/x-icon">

    <link href="https://fonts.googleapis.com~/Admin/css2?family=Mulish:wght@400;700&display=swap" rel="stylesheet">
    <!-- Font Awesome cho các icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0~/Admin/css/all.min.css">

    <!-- Google Fonts cho các biểu tượng Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <!-- Line Awesome cho các biểu tượng bổ sung -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0~/Admin/css/line-awesome.min.css">

    <!-- CSS của Bootstrap -->
    <link rel="stylesheet" href="~/Admin/css/bootstrap.min.css">
    <!-- CSS cho trang web -->
    <link rel="stylesheet" href="~/Admin/css/site.css">
    <!-- CSS cho trang quản trị -->
    <link rel="stylesheet" href="~/Admin/css/Admin.css">
    <!-- CSS cho thông báo -->
    <link rel="stylesheet" href="~/Admin/css/notifier_massage.css" />

    <!-- Thêm CKEditor từ CDN -->
    <script src="https://cdn.ckeditor.com/ckeditor5/36.0.1/classic/ckeditor.js"></script>

    <!-- Thêm Signalr từ CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/7.0.7/signalr.min.js"></script>

    <!-- Thêm Line Awesome CSS từ CDN -->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">

    <!-- Font Awesome CSS từ CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
</head>

<body class="position-relative">
    <!-- Loading -->
    <div b-vm39s6lm0u id="loading" class="d-none">
        <i b-vm39s6lm0u class="fa-solid fa-hourglass-start"></i>
        <span b-vm39s6lm0u>Vui lòng chờ...</span>
    </div>

    <!-- End Navbar -->
    <div b-vm39s6lm0u id="toast" style="background-color: green;">
        <i b-vm39s6lm0u class="fa-solid fa-check"></i>
        <span b-vm39s6lm0u></span>
    </div>

    <!-- Modal Bootstrap -->
    <!-- For logout -->
    <div b-vm39s6lm0u class="modal fade" id="confirmSignOutModal" tabindex="-1" aria-labelledby="confirmSignOutLabel" aria-hidden="true">
        <div b-vm39s6lm0u class="modal-dialog">
            <div b-vm39s6lm0u class="modal-content">
                <div b-vm39s6lm0u class="modal-header">
                    <h5 b-vm39s6lm0u class="modal-title text-black" id="confirmSignOutLabel">
                        Xác nhận
                    </h5>
                </div>
                <div b-vm39s6lm0u class="modal-body text-black">
                    Bạn có chắc muốn đăng xuất ?
                </div>
                <div b-vm39s6lm0u class="modal-footer">
                    <button b-vm39s6lm0u type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <form action="@Url.Action("Logout", "Home", new { area = "Admin" })" method="post">
                        @Html.AntiForgeryToken()
                        <button b-vm39s6lm0u type="submit" class="btn btn-primary">Đăng xuất</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- For delete data -->
    <div b-vm39s6lm0u class="modal fade" id="confirmRemoveModal" tabindex="-1" aria-labelledby="confirmRemoveLabel" aria-hidden="true">
        <div b-vm39s6lm0u class="modal-dialog">
            <div b-vm39s6lm0u class="modal-content">
                <div b-vm39s6lm0u class="modal-header">
                    <h5 b-vm39s6lm0u class="modal-title text-black" id="confirmSignOutLabel">
                        Xác nhận
                    </h5>
                </div>
                <div b-vm39s6lm0u class="modal-body text-black">
                </div>
                <div b-vm39s6lm0u class="modal-footer">
                    <button b-vm39s6lm0u type="button" class="btn btn-secondary" data-bs-dismiss="modal">Hủy</button>
                    <form action="" method="get">
                        <button b-vm39s6lm0u class="btn btn-primary"></button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal Info -->
    <div b-vm39s6lm0u id="info_modal" class="modal-info">
        <div b-vm39s6lm0u class="modal-info-content">
            <!-- Modal Header -->
            <div b-vm39s6lm0u class="modal-header modal-info-header">
                <h2 b-vm39s6lm0u id="info_title">Thông tin quản trị viên</h2>
                <span b-vm39s6lm0u class="close-info" onclick="closeModal()">&times;</span>
            </div>
            <!-- Modal Body -->
            <div b-vm39s6lm0u class="modal-body modal-info-body">
                <p b-vm39s6lm0u><strong b-vm39s6lm0u>Họ và tên:</strong> <span b-vm39s6lm0u id="info_fullname"></span></p>
                <p b-vm39s6lm0u><strong b-vm39s6lm0u>Email:</strong> <span b-vm39s6lm0u id="info_email"></span></p>
                <p b-vm39s6lm0u><strong b-vm39s6lm0u>Số điện thoại:</strong> <span b-vm39s6lm0u id="info_phonenumber"></span></p>
            </div>
        </div>
    </div>


    <div b-vm39s6lm0u class="vinhbody">
        <!-- Checkbox để toggle (hiển thị/ẩn) sidebar -->
        <input b-vm39s6lm0u type="checkbox" id="vinhnav-toggle" value="true">

        <div b-vm39s6lm0u class="vinhsidebar">
            <div b-vm39s6lm0u class="vinhsidebar-brand">
                <a b-vm39s6lm0u href="/" class="text-decoration-none d-flex justify-content-center align-items-center">
                    <h2 b-vm39s6lm0u class="text-center m-0">
                        <img src="~/Admin/image/logo/logo-ntu.png"
                             alt="Admin" 
                             width="45" 
                             height="45" 
                             style="object-fit: cover;" />
                    </h2>
                </a>
            </div>

            <div b-vm39s6lm0u class="vinhsidebar-menu" id="vinhsidebar-menu">
                <ul b-vm39s6lm0u style="padding-left:0">
                    <li b-vm39s6lm0u>
                        <a b-vm39s6lm0u href="@Url.Action("Index", "CodersAdmin", new { area = "Admin" })" class="menu-link">
                            <span b-vm39s6lm0u class="fas fa-user-friends" title="Coder"></span>
                            <span b-vm39s6lm0u>Coder</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div b-vm39s6lm0u class="vinhmain-content">
            <div b-vm39s6lm0u class="vinhheader">
                <h2 b-vm39s6lm0u class="m-0 d-flex gap-2 align-content-center">
                    <!-- Nút để toggle (hiển thị/ẩn) sidebar -->
                    <label b-vm39s6lm0u for="vinhnav-toggle">
                        <span b-vm39s6lm0u class="las la-bars"></span>
                    </label>

                    <label b-vm39s6lm0u for="vinhnav-toggle">
                        <a b-vm39s6lm0u href="javascript:history.go(-1)">
                            <span b-vm39s6lm0u class="fas fa-arrow-left">
                            </span>
                        </a>
                    </label>

                    <!-- Tiêu đề theo từng trang cụ thể -->
                    <p b-vm39s6lm0u class="m-0 p-0">
                        @ViewData["Title"]
                        <!-- Tiêu đề trang -->
                    </p>
                </h2>

                <div b-vm39s6lm0u class="vinhuser-wrapper">
                    <!-- Số lượng yêu cầu đăng chờ duyệt -->
                    <a b-vm39s6lm0u href="/Tickets?type=0" title="Yêu cầu chưa được tiếp nhận">
                        <div b-vm39s6lm0u class="show-notificatoin position-relative" style="width: 30px; height: 30px; margin-right:10px;">
                            <img src="~/Admin/image/notification.png" alt="Thông báo yêu cầu chưa được tiếp nhận" style="width: 100%; height: 100%;">
                            <span b-vm39s6lm0u id="icon-notification" class="text-danger position-absolute" style="top: -15px; right: 0;">
                            </span>
                        </div>
                    </a>
                    <!-- Liên kết tới trang hồ sơ người dùng -->
                    <a b-vm39s6lm0u href="/Profile">
                        <img b-vm39s6lm0u src="~/Admin/images/useravars/ADBE0E56-2D51-4987-99C2-DAA72C0FD150.jpg" alt="Avatar" width="30px" height="30px; " style="object-fit: cover;"
                             onerror="this.onerror = null; this.src='~/Admin/image/user_default_avar.png'">
                    </a>
                    <div b-vm39s6lm0u class="AnAnhDi">
                        <!-- Tên người dùng và vai trò -->
                        <h4 b-vm39s6lm0u class="m-0 p-0">Admin</h4>
                    </div>
                    <a b-vm39s6lm0u class="nav-link " data-bs-toggle="dropdown" href="#" role="button" aria-expanded="false">
                        <i b-vm39s6lm0u class="fa fa-cog" style="font-size:26px; color: darkblue; padding-left: 10px;"></i>
                    </a>
                    <ul b-vm39s6lm0u class="dropdown-menu dropdown-menu-dark">
                        <li b-vm39s6lm0u>
                            <a b-vm39s6lm0u href="/Profile" class="dropdown-item">
                                Hồ sơ
                            </a>
                        </li>
                        <li b-vm39s6lm0u>
                            <a b-vm39s6lm0u href="/Home/ChangePassword" class="dropdown-item">
                                Thay đổi mật khẩu
                            </a>
                        </li>
                        <li b-vm39s6lm0u>
                            <button b-vm39s6lm0u id="buttonSignOut" data-bs-toggle="modal" data-bs-target="#confirmSignOutModal" class="dropdown-item">
                                Đăng xuất
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <!--///////////////////////////////////////////////////////////////////////////////////////////////-->
            <div b-vm39s6lm0u class="vinhmain">
                @RenderBody()
            </div>
        </div>
    </div>

    <script src="~/Admin/js/bootstrap.bundle.min.js"></script>
    <script type="module" src="~/Admin/js/ionicons.js"></script>
    <script src="~/Admin/js/site.js"></script>
    <script src="~/Admin/js/notifier_message.js"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>